* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.game {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clicker-zone {
    width: 67%;
    height: 100vh;
    float: left;
    background-image: url(../CandyClicker/resources/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 15px 0 20px 0;
}

.score h1 {
    font-size: 40px;
}

.score h3 {
    font-size: 22px;
    margin-top: 7px;
}

.btn-shop {
    display: inline-block;
    padding: 5px 18px 7px 16px;
    margin: 20px 0 0 20px;
    background-color: #ec4494;
    border: 3px solid #731241;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.btnshop {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-left: 7px;
    background-color: transparent;
    text-shadow: 
        2px 2px 0 #731241, /* Umbra la dreapta jos */
        -2px 2px 0 #731241, /* Umbra la stânga jos */
        2px -2px 0 #731241, /* Umbra la dreapta sus */
        -2px -2px 0 #731241, /* Umbra la stânga sus */
        0 2px 0 #731241, /* Jos */
        0 -2px 0 #731241, /* Sus */
        2px 0 0 #731241, /* Dreapta */
        -2px 0 0 #731241; /* Stânga */
}

.btn-shop svg {
    width: 25px;
    height: 25px;
}

.close-shop {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.close-shop svg {
    width: 35px;
    height: 35px;
    color: white;
}

.shop-menu {
    display: none;
    position: absolute;
    left: 33.5%;
    transform: translate(-50%, 30%);
    background-color: #ec4494;
    border: 5px solid #731241;
    border-radius: 30px;
    width: 800px;
    height: 370px;
}

.header-shop {
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ec4494;
    border: 5px solid #731241;
    border-radius: 20px;
    top: -33px;
    left: 300px;
    font-size: 30px;
    color: white;
    text-shadow: 
        2px 2px 0 #731241, /* Umbra la dreapta jos */
        -2px 2px 0 #731241, /* Umbra la stânga jos */
        2px -2px 0 #731241, /* Umbra la dreapta sus */
        -2px -2px 0 #731241, /* Umbra la stânga sus */
        0 2px 0 #731241, /* Jos */
        0 -2px 0 #731241, /* Sus */
        2px 0 0 #731241, /* Dreapta */
        -2px 0 0 #731241; /* Stânga */
    padding: 7px 18px 7px 16px;
}

.article-shop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.article-shop article {
    width: 210px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: rgb(233, 137, 212);
}

.img-candy-skin {
    position: relative;
    width: auto;
    height: 150px;
    margin: 0 17px 10px 17px;
}

.img-candy-skin img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-skin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-buy-skin {
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ec4494;
    border: 3px solid #731241;
    margin: 23px 0 0 66px;
    font-size: 18px;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.candy {
    position: absolute;
    left: 33%;
    transform: translate(-50%, 20%);
    cursor: pointer;
    user-select: none;
}

.candy img {
    width: 330px;
    height: 330px;
    animation: tilt 2s infinite;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg); /* Poziția inițială */
    }
    25% {
        transform: rotate(-5deg); /* Se lasă pe o parte */
    }
    50% {
        transform: rotate(1deg); /* Se lasă pe cealaltă parte */
    }
    75% {
        transform: rotate(-10deg); /* Revine ușor */
    }
}

.shop {
    display: flex;
    flex-direction: column;
    float: right;
    width: 33%;
    padding: 6px 10px 7px 10px;
    height: 100vh;
    background-color: rgb(219, 100, 199);
}

.article {
    position: relative;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(233, 137, 212);
}

.art-left {
    position: relative;
    float: left;
}

.img-prez {
    width: 65px;
    height: 65px;
    object-fit: contain;
    float: left;
    user-select: none;
}

.name-price {
    float: right;
    flex-direction: column;
    margin-left: 7px;
}

.type-art {
    font-size: 33px;
    color: white;
}

.price {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.price img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    user-select: none;
}

.price span {
    color: red;
    margin-left: 5px;
}

.art-right {
    float: right;
    font-size: 50px;
    margin-right: 15px;
    margin-top: 6px;
    color: pink;
}